{%extends 'layout.html'%}

{%block body%}
<div class="container row">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th class="table-primary">MARKET</th>
            <td class="table-warning"><strong>{{market}}</strong></td>
            <th class="table-primary">BALANCE</th>
            <td class="table-warning">{{coin_data["coin_balance"]}}</td>
            <th class="table-primary">24 Hr LOW</th>
            <td class="table-warning">{{wazirx_coin_data["low"]}}</td>
            <th class="table-primary">24 Hr HIGH</th>
            <td class="table-warning">{{wazirx_coin_data["high"]}}</td>
        </tr>
        <tr>
            {% if wazirx_coin_data["overall_roi"] >0 %}
            <th class="table-success">Overall ROI %</th>
            <td class="table-success">{{wazirx_coin_data["overall_roi"]}}</td>
            {%else%}
            <th class="table-danger">Overall ROI %</th>
            <td class="table-danger">{{wazirx_coin_data["overall_roi"]}}</td>
            {% endif %}
            {% if wazirx_coin_data["coin_roi"] >0 %}
            <th class="table-success">Coin ROI %</th>
            <td class="table-success">{{wazirx_coin_data["coin_roi"]}}</td>
            {%else%}
            <th class="table-danger">Coin ROI %</th>
            <td class="table-danger">{{wazirx_coin_data["coin_roi"]}}</td>
            {% endif %}
            <th class="table-primary">Current Sell Price</th>
            <td class="table-warning">{{wazirx_coin_data["sell"]}}</td>
            <th class="table-primary">Current Buy Price</th>
            <td class="table-warning">{{wazirx_coin_data["buy"]}}</td>
        </tr>
        </tbody>
    </table>


</div>
<div class="row">
    <!--    section 1 coin details-->
    <div class="col">
        <h6>Buying Details</h6>
        <table class="table table-striped table-bordered">
            <tbody>
            {% for key in BUY_KEYS %}
            <tr>
                <td><strong class="text-info">{{key}}</strong>
                    <strong class="text-secondary">{{coin_data[key]}}</strong>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!--    section 2 coin buy table-->
    <div class="col">
        <h6>Buy Order Table</h6>
        <table class="table table-striped table-bordered">
            <thead>
            <th>Date</th>
            <th>Total</th>
            <th>Price</th>
            </thead>
            <tbody>
            {% for trade in buy_trades %}
            <tr>
                <td>{{trade["Date"]}}</td>
                <td>{{trade["Total"]}}</td>
                <td>{{trade["Price"]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!--    section 3 coin sell table-->
    <div class="col">
        <h6>Sell Order Table</h6>
        <table class="table table-striped table-bordered">
            <thead>
            <th>Date</th>
            <th>Total</th>
            <th>Price</th>
            </thead>
            <tbody>
            {% for trade in sell_trades %}
            <tr>
                <td>{{trade["Date"]}}</td>
                <td>{{trade["Total"]}}</td>
                <td>{{trade["Price"]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!--    section 4 coin Extra info table-->
    <div class="col">
        <h6>Selling Details</h6>
        <table class="table table-striped table-bordered">
            <tbody>

            {% for key in SELL_KEYS %}
            <tr>
                <td><strong class="text-info">{{key}}</strong>
                    <strong class="text-secondary">{{coin_data[key]}}</strong>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}